<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #produitForm="ngForm" (ngSubmit)="onSubmit(produitForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="produitService.selectedProduit._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="produitService.selectedProduit.name" placeholder="Enter name" required>
                  <label>Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Prix" #name="ngModel" [(ngModel)]="produitService.selectedProduit.Prix" placeholder="Enter price">
                  <label>Prix :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Quantite" #name="ngModel" [(ngModel)]="produitService.selectedProduit.Quantite" placeholder="Enter Quantity">
                  <label>Quantité :</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(produitForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!produitForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Prix</th>
                      <th>Quantité</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let pdt of produitService.produits">
                    <td>{{pdt.name}}</td>
                    <td>{{pdt.Prix}}</td>
                    <td>{{pdt.Quantite}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(pdt)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(pdt._id,produitForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


